*{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  width: 200px;
  height: 50px;
  margin: 10px;
  background-color:rgb(1, 16, 44);
  box-shadow: inset 5px 5px 3px rgb(9, 0, 136),inset -5px -5px 3px rgb(9, 0, 136);
  color: rgb(241, 250, 203);
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

label{
  margin: 5px;
}


